// Quasar SCSS (& Sass) Variables
// --------------------------------------------------

$primary : #4361ee; // Vibrant Royal Blue
$secondary : #3f37c9; // Deep Blue
$accent : #f72585; // Hot Pink
$dark : #000000; // Pure Black
$dark-page : #050505; // Almost Black


$positive : #4cc9f0; // Cyan
$negative : #e63946; // Red
$info : #4895ef; // Light Blue
$warning : #fca311; // Orange

// Custom text colors for dark mode contrast
$text-color : #e0e0e0;
$bg-color : #0a090c;